In [1]:
import requests
import json
import pandas as pd
import os
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

In [2]:
url = 'https://magma.esdm.go.id/api/v1/python/magma-var/evaluasi'
token = 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczpcL1wvbWFnbWEuZXNkbS5nby5pZFwvY2hhbWJlcnNcL3Rva2VuXC9nZW5lcmF0ZSIsImlhdCI6MTcxMzg3Mjc5MSwiZXhwIjoxNzEzOTU5MTkxLCJuYmYiOjE3MTM4NzI3OTEsImp0aSI6IkF1STZ1bjJYaXRacWZLUFgiLCJzdWIiOjI1OCwicHJ2IjoiODdlMGFmMWVmOWZkMTU4MTJmZGVjOTcxNTNhMTRlMGIwNDc1NDZhYSIsInNvdXJjZSI6Ik1BR01BIEluZG9uZXNpYSIsImFwaV92ZXJzaW9uIjoidjEifQ.clYRkR8KJeNSPEQdMAACrP8ulCXiB5qGls_Ja2145Os'

In [3]:
start_date: str = "2020-01-01"
end_date: str = "2022-12-12"
volcano_code: str = 'SMR'
events = ['vta', 'vtb', 'apg', 'gug', 'lts', 'hyb']

In [4]:
payload = json.dumps({
  'start_date': start_date,
  'end_date': end_date,
  'code_ga': volcano_code,
  'gempa': events
})

In [5]:
headers = {
  'Authorization': 'Bearer '+token,
  'Content-Type': 'application/json'
}

In [6]:
current_dir: str = os.getcwd()
output_directory: str = os.path.join(current_dir, "output", "magma")
os.makedirs(output_directory, exist_ok=True)

In [7]:
response = requests.request("GET", url, headers=headers, data=payload)

In [8]:
response_json = response.json()

In [9]:
df = pd.json_normalize(response.json()['data'])

In [10]:
df.drop(columns=[
  'availability',
  'visual.visibility',
  'visual.cuaca',
  'visual.asap.teramati',
  'visual.asap.warna',
  'visual.asap.intensitas',
  'visual.asap.tekanan',
  'visual.asap.tinggi_min',
  'visual.asap.tinggi_max',
  'visual.letusan.teramati',
  'visual.letusan.tinggi_min',
  'visual.letusan.tinggi_max',
  'visual.letusan.warna',
  'visual.awan_panas_guguran.teramati',
  'visual.awan_panas_guguran.jarak_min',
  'visual.awan_panas_guguran.jarak_max'
], inplace=True)

df.head()

,date,gempa.vulkanik_dalam,gempa.vulkanik_dangkal,gempa.awan_panas_guguran,gempa.guguran,gempa.letusan_erupsi,gempa.hybrid_fase_banyak
0,2020-01-01,0,0,0,1,16,0
1,2020-01-02,0,0,0,3,17,0
2,2020-01-03,1,0,0,1,16,0
3,2020-01-04,0,0,0,2,12,0
4,2020-01-05,0,0,0,0,13,0

In [11]:
df.columns[df.sum()==0]

Index(['gempa.hybrid_fase_banyak'], dtype='object')

In [12]:
df.drop(columns=df.columns[df.sum()==0], inplace=True)

df.head()

,date,gempa.vulkanik_dalam,gempa.vulkanik_dangkal,gempa.awan_panas_guguran,gempa.guguran,gempa.letusan_erupsi
0,2020-01-01,0,0,0,1,16
1,2020-01-02,0,0,0,3,17
2,2020-01-03,1,0,0,1,16
3,2020-01-04,0,0,0,2,12
4,2020-01-05,0,0,0,0,13

In [13]:
df.set_index(keys='date', inplace=True)

In [14]:
filename = os.path.join(output_directory, "magma_{}_{}_{}.csv".format(volcano_code, start_date, end_date))
df.to_csv(filename)

In [ ]:
# colors = ['#5ba04f','#4e79a6','#f28e2b']

fig, axs = plt.subplots(nrows=len(df.columns), ncols=1, figsize=(12, 3*len(df.columns)),
                        layout="constrained", sharex=True)

for gempa, column_name in enumerate(df.columns):
    axs[gempa].bar(df.index, df[column_name], width=0.5,label=column_name)
    
    axs[gempa].legend(loc=1)
    axs[gempa].set_ylabel('Jumlah')
    
    axs[gempa].xaxis.set_major_locator(mdates.DayLocator(interval=14))
    
    # Rotate x label
    for label in axs[gempa].get_xticklabels(which='major'):
        label.set(rotation=30, horizontalalignment='right')

In [ ]:
# single_eruptions = df[df['gempa.letusan_erupsi'] > 0]['gempa.letusan_erupsi']

In [ ]:
# single_eruptions.index.tolist()